nav {
    background-color: #f8f8f8; 
    padding: 10px 15px; 
    text-align: left;
    width: 100%;
}
  
  nav a {
    margin: 0 10px; 
    color: #333; 
    font-size: 18px; 
    font-weight: 700;
  }
  
  nav a:hover {
    color: #007bff; 
  }
  