.homePage {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.tooltip {
	padding: 5px;
	font-family: Arial, Helvetica, sans-serif;
	border-radius: 10px;
	font-size: 1rem;
	text-align: center;
}

.tooltipCenter {
	display: flex;
	justify-content: center;
}

.white-icon {
	width: 9px;
	height: 16px;
	margin-right: 5px;
}

::ng-deep .ngx-charts-tooltip-content.type-tooltip {
	background-color: #2D909F !important; 
	color: white !important; 
	.tooltip-caret.position-top { 
		color: white !important;
		border-top: 7px solid #2D909F !important;
	  }
  }

  ::ng-deep .pie-label {
	font-size: 16px !important; 
  }
  
  ::ng-deep .pie-label-line {
	fill: none;
  }
  