.homePage {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.tooltip {
	padding: 5px;
	font-family: Arial, Helvetica, sans-serif;
	border-radius: 10px;
	font-size: 1rem;
	text-align: center;
}

.tooltipCenter {
	display: flex;
	justify-content: center;
}

.white-icon {
	width: 9px;
	height: 16px;
	margin-right: 5px;
}
