.homePage {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}



.pageTitle {
	background-color: #03838f;
	border-radius: 10px;
	padding: 10px 20px;
	margin: 10px 0;
	font-size: 3rem;
}


.tooltip {
	background-color: #03838f;
	padding: 5px;
	font-family: Arial, Helvetica, sans-serif;
	border-radius: 10px;
	font-size: 1rem;
}

.tooltipCenter {
	display: flex; /* Utilisation de flexbox pour aligner les éléments horizontalement */
	align-items: center; /* Aligner verticalement le contenu */
}
.white-icon {
	width: 9px;
	height: 16px;
	margin-right: 5px;
	
}

